/* A replacement for .small-box .icon, where the icon is smaller and doesn't
   change size when moused over. */
.small-box .icon-large {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.15);
}

/* So that selectize dropdowns are visible if they go off the bottom. */
.content {
  overflow: visible;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > .ion {
  float: left;
  font-size: 30px;
  width: 50px;
  text-align: center;
  margin-right: 5px;
  color: #000;
}

/* Sidebar user panel needs a minimum height when there's no image. */
section.sidebar .user-panel {
  min-height: 65px;
}

/* Inputs in the sidebar */
section.sidebar .shiny-input-container {
  /* Proper spacing around inputs. */
  padding: 12px 15px 0px 15px;
  /* Wrap content (important for inline inputs). */
  white-space: normal;
}

/* Make action buttons/links look good on the sidebar panel */
section.sidebar .shiny-bound-input.action-button,
section.sidebar .shiny-bound-input.action-link {
  margin: 6px 5px 6px 15px;
  display: block;
}

/* Shiny inputs in boxes should span full width. */
div.box-body .shiny-input-container {
  width: auto;
}

/* Sidebar is dark, so make text light by default. */
.sidebar {
  color: #fff;
}
/* Slider min and max in sidebar. */
.sidebar .irs-min, .sidebar .irs-max {
  color: #aaa;
}

/* Don't highlight text when info box is in <a> tag */
a > .info-box {
  color: #333;
}

/*  Shiny Server Pro logout panel needs to be raised above menu bar */
.shiny-server-account {
  z-index: 2000;
}